@import "tailwindcss";

@theme {
    --color-forest: #0B2F1F;
    
}

@utility font-syne {
    font-family: var(--font-syne);
}

@utility font-geom {
    font-family: var(--font-geom);
}

@utility font-google-sans {
    font-family: var(--font-google-sans);
}

@utility font-fraunces {
    font-family: var(--font-fraunces);
}

@utility font-inter {
    font-family: var(--font-inter);
}